.boxInput {
  margin-top: 20px;
}

.addButton {
  border: none;
  height: 55.97px;
  background-color: #2d13de ;
  cursor: pointer;
  font-size: 23px;
  color: aquamarine;
  width: 15ch;
  border-radius: 8px;
  transition: .3s;
  font-family: Tajwal !important;
}

.addButton:hover {
  background-color: #150070;
  color: rgb(255, 255, 255);
}

#outlined-basic {
  width: 30ch;
}
