.task-card-container {
  margin: 40px 0px;
}

.one-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  background-color: rgb(42, 42, 255);
  color: aliceblue;
}