.task-card-container {
  margin: 40px 0px;
}

.one-card {
  border: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  background-color: #03045e;
  color: aliceblue;
  transition: all 0.2s !important;
}

.one-card:hover {
  padding: 10px 0px;
}

.right {
  text-align: right;
}

.iconButton {
  transition: all 0.3s !important;
}

.iconButton:hover {
  background-color: rgba(187, 187, 187, 0.925) !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.801) !important;
}