.task-card-container {
  margin: 40px 0px;
}

.one-card {
  border: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  background-color: #03045e;
  color: aliceblue;
  transition: all 0.2s !important;
}

.one-card:hover {
  padding: 10px 0px;
}

.right {
  text-align: right;
}

.iconButton {
  transition: all 0.3s !important;
  flex-shrink: 1; 
  margin: 0 4px;
}

.iconButton:hover {
  background-color: rgba(187, 187, 187, 0.925) !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.801) !important;
}

@media (max-width: 420px) {
  .iconButton {
    padding: 5px !important; /* تصغير الحشوة الداخلية */
    min-width: 35px !important; /* تقليل أصغر عرض مسموح */
    height: 35px !important;
  }
  
  .iconButton {
    font-size: 9px !important;
  }

  .todoCardTextH5 {
    font-size: 15px;
  }

  .todoCardTextH2 {
    font-size: 24px !important;
  }
}

.confirmEditBtn:hover{
  background-color: #03045e !important;
}

.cancelEditBtn:hover {
  background-color: rgba(95, 95, 95, 0.596) !important;
  color: white !important;
  border: none !important;
}

.confirmDeleteBtn {
  background-color: rgba(255, 0, 0, 0.712) !important;
  color: aliceblue !important;
  margin-right: 20px !important;
  transition: 0.2s !important;
}

.confirmDeleteBtn:hover {
  background-color: red !important;
  color: white !important;
  
}

.cancelDeleteBtn {
  transition: 0.2s !important;
  border: none !important;
}

.cancelDeleteBtn:hover {
background-color: rgba(83, 83, 83, 0.068);
color: black !important;
}