.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div-title {
  position: relative;
}

hr {
  position: absolute;
  bottom: -12px;
  border-color: #282c3434;
  width: 100%;
}

.container {
  background-color: #e0f8ff;
  color: #282c34;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.link {
  text-decoration: none;
}

.toggleButtons {
  color: #0a3385 !important;
}
.toggleButtons:hover {
  color: black !important;
}

/* Custon fonts */
@font-face {
  font-family: Tajwal;
  src: url("/public/fonts/Tajawal-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Tajwal;
  src: url("/public/fonts/Tajawal-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Tajwal;
  src: url("/public/fonts/Tajawal-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Tajwal;
  src: url("/public/fonts/Tajawal-Bold.ttf");
  font-weight: bold;
}
/* ==== //Custon fonts// ===== */

@media (max-width: 420px) {
  .todosClass {
    height: 20vh;
  }
}